aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
DateTime==4.3
discord==1.0.1
discord.py==1.5.0
et-xmlfile==1.0.1
game==0.0.5
hupper==1.10.2
idna==2.10
jdcal==1.4.1
Jinja2==2.11.2
lxml==4.6.1
MarkupSafe==1.1.1
multidict==4.7.6
openpyxl==3.0.5
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
player==0.6.1
pyramid==1.10.4
pyramid-jinja2==2.8
pytz==2020.1
req==1.0.0
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
translationstring==1.4
urllib3==1.25.11
venusian==3.0.0
WebOb==1.8.6
yarl==1.5.1
zope.deprecation==4.4.0
zope.interface==5.1.2
